<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Solace compiler plugin test suite">
    <test name="Solace compiler plugin tests">
        <classes>
            <class name="io.ballerina.lib.solace.compiler.CompilerPluginTest"/>
        </classes>
    </test>
</suite>
